@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --primary-color: #DCE2C8;
    --secondary-color: #A8DCD1;
    --accent1-color: #65DEF1;
    --accent2-color: #F17F29;

    --heading-font: 'Oswald', serif;
    --paragraph-font: 'Oswald', serif;

    --nav-background-color: var(--secondary-color);
    --nav-link-color: var(--accent2-color);
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--primary-color);
}





header {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;

}




nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


.hero img {
    display: grid;
    width: 100%;
    height: auto;
    position: relative;
    padding: 50px;
    margin: 20px;
}

.hero h1 {
    position: absolute;
}

.hero article {
    position: absolute;
}


.right {
    float: right;
}









article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    position: absolute;
    background: lightblue;
    top: 415px;
    left: 1000px;
}




.left {
    grid-area: left;
    border-right: 1px solid;
}



section ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 20%;
    padding: 5px;
    
}


.positioned {
    position: absolute;
    background: blue;
    top: 4500px;
    left: 315px;
}

.title {
    position: absolute;
    background: red;
    top: 340px;
    left: 800px;
}

.over {
    float: left;
}



