@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --primary-color: #DCE2C8;
    --secondary-color: #A8DCD1;
    --accent1-color: #65DEF1;
    --accent2-color: #F17F29;

    --heading-font: 'Oswald', serif;
    --paragraph-font: 'Oswald', serif;

    --nav-background-color: var(--secondary-color);
    --nav-link-color: var(--accent2-color);
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--primary-color);
}


body {
    max-width: 1000px;
    margin: auto;
}


header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 2fr;
    align-items: center;
    border-bottom: 1px solid orange;
    max-width: 1000px;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 128px;
    height: auto;
}

nav {
    text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 100%;
}

.navigation a {
    display: block;
    color: var(--nav-link-color);
    padding: 10px;
    text-decoration: none;
}

.navigation a:hover {
    color: var(--nav-hover-link-color);
    justify-content: center;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}


.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 35%;
    background-color: rgba(168,220,209,0.5);
}




.hero img {
    display: block;
    width: 100%;
    height: auto;
}

#text {
    font-size: 20px;
    padding-right: 20px;
    padding-top: 33.33333%;
    float: left;
    width: 500px;
    height: 200px;
}



article {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(168,220,209,0.5);
    max-height: 200px;
}


article img {
    max-width: 25%;
    max-height: 15%;
    float: right;
    padding: 5px;
    top: 50%;
}


.history {
    border: solid orange;
    padding: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
}


section h2{
    text-align: center;
    color: navy;
}

.history img, p {
    flex-basis: 33.33333%;
}



.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 4em 1fr;
    background-color: #65DEF1;
    justify-content: space-around;

}


.adventure h2 {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 40%;
    padding-right: 2%;
}


.adventure img {
    width: 150px;
    height: auto;
    padding: 0;
}

.image-1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.image-2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.image-3 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.image-4 {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

.image-5 {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
}


.employee {
    border: solid orange;
    padding: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.employee img {
    width: 250px;
    height: auto;
}

.map {
    display: grid;
    justify-content: center;
    text-align: center;
    border: solid orange;
    margin: 5px;
    padding: 5px;
}

.map h1{
    border-bottom: solid black;
    color: navy;
}


.employee {
    text-align: center;
}




iframe {
    border: solid gray;
}

legend {
    text-align: center;
    color: navy;
    font-size: 1.5em;
    font-weight: bold;
}


fieldset {
    display: grid;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    justify-content: center;
}

.wireframe {
    text-align: left;
}



textarea {
    width: 650px;
}


.name {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0.5rem 0;
}


.email {
    grid-column: 3/4;
    grid-row: 1/2;
    margin: 0.5rem 0;
}

.purpose {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0.5rem 0;
}

.sub {
    grid-column: 3/4;
    grid-row: 2/3;
    margin: 0.5rem 0;
}

.message {
    grid-column: 1/4;
    grid-row: 3/4;
    margin: 0.5rem 0;
}

.submit {
    grid-column: 1/4;
    grid-row: 4/5;
    margin: 0.5rem 0;
    text-align: center;
}


.comms {
    text-align: center;
}