@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


:root {
    --primary-color: #DCE2C8;
    --secondary-color: #A8DCD1;
    --accent1-color: #65DEF1;
    --accent2-color: #F17F29;

    --heading-font: 'Oswald', serif;
    --paragraph-font: 'Oswald', serif;

    --nav-background-color: var(--secondary-color);
    --nav-link-color: var(--accent2-color);
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--primary-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header {
    padding: 15px;
    background-color: var(--accent1-color);
}

p {
    padding: 5px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}